// Place all the styles related to the programming_keys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.setup {
  border: 3px solid black;
  border-bottom: 0px;
}

.write_memory {
  border: 3px solid black;
}

.write_keys {
  border: 3px solid black;
}
