- flash.each do |key, value|
  - if value.present?
    .alert.alert-dismissable{class: "flash #{key}"}
      = button_tag "&times;".html_safe, class: "close", data: {dismiss: "alert"}, aria: {hidden: true}
      = value
